
:root {
    --primary-color-100: #b2e0e7;
    --primary-color-200: #80c5d1;
    --primary-color-300: #4fb3bb;
    --primary-color-400: #26a2a3;
    --primary-color-500: #2fb3cd;

    --secondary-color-100: #fff2b3;
    --secondary-color-200: #ffe066;
    --secondary-color-300: #ffcc19;
    --secondary-color-400: #e6b600;
    --secondary-color-500: #ffc815;
    --white: #FFFFFF;
    --black: #000000;
}





